.modal {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: white;

  .modal_title {
    text-align: center;
  }

  .modal_content {
    padding: 25px;
  }
}
