.modal {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 40%;
  margin: auto;
  background-color: white;

  .modal_title {
    text-align: center;
  }

  .modal_content {
    padding: 25px;
  }
}
