.modal {
  position: absolute;
  background-color: white;

  &_title {
    text-align: center;
  }

  &_content {
    padding: 25px;
  }

  &--normal {
    top: 25%;
    left: 30%;
    width: 40%;
    margin: auto;
  }

  &--fullScreen {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
  }
}
