.modal {
  position: absolute;
  background-color: white;
  
  &_content {
    margin: 0 25px 25px 25px;
  }

  &--normal {
    top: 25%;
    left: 30%;
    width: 40%;
    margin: auto;
  }

  &--fullScreen {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
  }
}

.headline {
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  &_title {
    flex: 1;
  }
}