.container {
  display: inline-block;
  position: relative;
}

.actions {
  position: absolute;
  width: 300px;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);

  &--hidden {
    display: none;
  }
}